<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Serilog.Sinks.Console"
								  publicKeyToken="24c2f752a8e58a10"
								  culture="neutral" />
				<!--Redirection and codeBase policy for myAssembly.-->
			</dependentAssembly>
      </assemblyBinding>  
   </runtime>
			<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:Console" value="Serilog.Sinks.Console" />
		<add key="serilog:write-to:Console" />

		<add key="serilog:write-to:Console.outputTemplate" value="{Timestamp:HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />

		<add key="serilog:using:Seq" value="Serilog.Sinks.Seq" />
		<add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />

		<add key="serilog:using:File" value="Serilog.Sinks.File" />

		<add key="serilog:using:Thread" value="Serilog.Enrichers.Thread" />
		<add key="serilog:enrich:WithThreadId" />

		<add key="serilog:enrich:FromLogContext" />

		<add key="serilog:using:Environment" value="Serilog.Enrichers.Environment" />
		<add key="serilog:enrich:WithMachineName" />

		<add key="serilog:using:Process" value="Serilog.Enrichers.Process" />
		<add key="serilog:enrich:WithProcessId" />

		<add key="serilog:using:Memory" value="Serilog.Enrichers.Memory" />
		<add key="serilog:enrich:WithMemoryUsage" />

		<add key="serilog:using:AssemblyName" value="Serilog.Enrichers.AssemblyName" />
		<add key="serilog:enrich:WithAssemblyName" />
		<add key="serilog:enrich:WithAssemblyVersion" />

		<add key="serilog:enrich:with-property:Application" value="SerilogTest" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>